<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.assignment.listeners.TestListener"/>
    </listeners>
    <test verbose="2" thread-count="2" parallel="methods" name="C:/Users/testi/selenium-project/MasterAutomationFramework/AmazonAssignment">
        <classes><class name="com.assignment.tests.CheckoutPageTests">
            <methods>
                <include name="verifyTotalCartPriceInCheckoutPageTest"/>
                <include name="verifyUserNavigatingToLoginPageOnCheckout"/>
            </methods>
        </class>
        </classes>
    </test>
</suite>